*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family:Playfair Display;
    background:#ffffff;



}
.hero{
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;

   background:
    linear-gradient(to right,
        rgba(90, 79, 61, 0.366) 0%,
        rgba(0,0,0,.35) 30%,
        rgba(0,0,0,0) 70%
    ),
    url("image/3.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding-left: 0px;
}
.hero-btn{
    background:#9A7B4F;
    padding:22px 55px;
    font-size:22px;
    letter-spacing:0.5px;
}

.hero-btn:hover{
    background:#7F633F;
    transform:translateY(-6px);
    box-shadow:0 25px 50px rgba(154,123,79,.35);
}

.content{
       text-align:left;
    width:700px;
    margin-left:80px;
    animation: fadeIn 1s ease forwards;

}
@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}
.hero h1{
    font-size:80px;
    margin-bottom:20px;
    color:rgb(255, 255, 255);
}

p{
    font-size:30px;
    color:#877777;
    margin-bottom:40px;

}

button{
     background:#9A7B4F;
    color:white;
    border:none;
    padding:20px 45px;
    font-size:20px;
    border-radius:50px;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 15px 40px rgba(0,0,0,.25);
    transition:0.3s;
    font-family:  Playfair Display;
}
.btn{
    display:inline-block;
    background:#9A7B4F;
    color:white;
    text-decoration:none;
    border:none;
    padding:20px 45px;
    font-size:20px;
    border-radius:50px;
    cursor:pointer;
    box-shadow:0 15px 40px rgba(0,0,0,.25);
    transition:.3s;
    font-family:Playfair Display;
}

.btn:hover{
     background:#7F633F;
    color:white;
    transform:translateY(-5px);
    box-shadow:0 20px 40px rgba(154,123,79,.35);
}
.header-button button{
    padding: 12px 28px;
    font-size: 16px;
}

button:hover{

    color:rgb(255, 255, 255);
    transform:translateY(-5px);
    box-shadow:0 20px 40px rgba(255, 255, 255, 0.35);
    
}
header{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:25px 80px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(12px);
    z-index:1000;

}

.logo{

    font-size:28px;

    font-weight:bold;

}

nav{

    display:flex;
    gap:40px;
    font-family: Playfair Display;


}

nav a{
    text-decoration:none;
    color:#5F4642;
    font-size:18px;
    font-weight:600;
    text-shadow:none;
}

nav a:hover{

   color:#9A7B4F;
   text-shadow: 1px 1px 3px rgba(0,0,0,.2);

}
.image img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.services{
    padding: 70px;
    text-align: center;
    margin-bottom: 0px;
    
    
}
.services h2{
    font-size: 40px;
    margin-bottom: 50px;
    color:rgb(137, 93, 93);
    
}
.card{
   background:#eae5e4;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);

    flex:1;

}
.cards{
    display:flex;
    gap:30px;
}
.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 25px;
}
.card h3{
    font-size:30px;
    margin-bottom:20px;
    margin: 20px 0 15px;
    color: rgb(137, 93, 93);;

    
}
.content p{
    font-size:30px;
    color:white;
    font-family: 'Playfair Display';
    
}
.card p{
    font-size:18px;
    color:#555;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 80px;

    padding: 100px 80px;

    background: #eae5e4;
}
.about-image{
    flex:1;
}
.about-image img{
    width:100%;
    height:500px;
    object-fit:cover;
    border-radius:25px;
    box-shadow:0 20px 50px rgba(0,0,0,.15);

}
.about-content{
    flex:1;
    color: #895d5d;
}
.about-content h2{
    font-size:50px;
    margin-bottom:30px;
}
.about-content p{
    color:#666;
    font-size:20px;
    line-height:1.8;
    margin-bottom:30px;
}
.about-content ul{
    list-style:none;
    margin-bottom:40px;
}
.about-content li{
    font-size:20px;
    margin-bottom:18px;
}
.advantages{
    padding:100px 80px;
    text-align:center;
}
.advantages h2{
    font-size:40px;
    margin-bottom:60px;
    color: #895d5d;
    
}
.advantages-cards{
    display:flex;
    justify-content:center;
    gap:30px;
    color: #895d5d;
}
.advantage{
    background:#eae5e4;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    flex:1;
    transition:.3s;
}
.advantage:hover{
    transform:translateY(-10px);
}
.advantage h3{
    font-size:55px;
    margin-bottom:20px;
}
.advantage h4{
    font-size:28px;
    margin-bottom:15px;
}
.advantage p{
    font-size:18px;
    color:#666;
}
.masters{
    padding:100px 80px;
    background:#eae5e4;
    text-align:center;
}
.masters h2{
    font-size:40px;
    margin-bottom:60px;
    color: #895d5d;
}
.masters-cards{
    display:flex;
    gap:30px;
}
.master{
    background:rgb(255, 255, 255);
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
    flex:1;
    transition:.3s;
}
.master:hover{
    transform:translateY(-10px);
}

.master img{
    width:100%;
    height:350px;
    object-fit:cover;
}
.master h3{
    font-size:30px;
    margin-top:20px;
    color: #895d5d;
}
.master p{
    color:#666;
    font-size:18px;
    margin:15px 0 25px;
}
.master button{
    margin-bottom:30px;
}
.master .btn{
    margin-top:10px;
    margin-bottom:30px;
    padding:16px 45px;
    font-size:18px;
}
.gallery{
    padding:100px 80px;
    text-align:center;
}
.gallery h2{
    font-size:40px;
    margin-bottom:60px;
    color: #895d5d;
}
.gallery-grid{
    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:25px;
}
.gallery-grid img{
    width:100%;
    height:320px;

    object-fit:cover;

    border-radius:20px;

    transition:.3s;

    cursor:pointer;
}
.gallery-grid img:hover{

    transform:scale(1.05);

}
.reviews{

    padding:100px 80px;

    background:#eae5e4;

    text-align:center;

}
.reviews h2{

    font-size:40px;

    margin-bottom:60px;
    
    color: #895d5d;

}
.reviews-cards{

    display:flex;

    gap:30px;

}
.review{

    background:rgb(255, 255, 255);

    padding:40px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.1);

    flex:1;

    transition:.3s;

}
.review:hover{

    transform:translateY(-10px);

}
.review h3{

    font-size:30px;

    margin-bottom:20px;

}
.review p{

    color:#9A7B4F;

    font-size:18px;

    line-height:1.7;

    margin-bottom:20px;

}
.review span{

    font-weight:600;

    color:#895d5d;

}
.contacts{

    padding:100px 80px;

    text-align:center;

}
.contacts h2{

    font-size:40px;

    margin-bottom:60px;
    color: #895d5d;

}
.contacts-box{

    display:flex;

    justify-content:center;

    gap:30px;

    margin-bottom:50px;

    flex-wrap:wrap;

}
.contact-item{

    background:#eae5e4;

    width:250px;

    padding:35px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.1);

    transition:.3s;

}
.contact-item:hover{

    transform:translateY(-10px);

}
.contact-item h3{

    font-size:26px;

    margin-bottom:20px;

    color: #895d5d;
}
.contact-item p{

    color:#666;

    font-size:18px;

}
footer{

    background:#9A7B4F;

    color:white;

    text-align:center;

    padding:60px 20px;

}
footer h2{

    font-size:30px;

    margin-bottom:30px;

}
footer nav{

    display:flex;

    justify-content:center;

    gap:30px;

    margin-bottom:30px;


}
footer nav a:hover{

    color:#ffffff;

}
.social{

    display:flex;

    justify-content:center;

    gap:25px;

    margin-bottom:30px;

}
.social a{

    color:#ffffff;

    text-decoration:none;

    transition:.3s;

}
.social a:hover{

    color:white;

}
footer p{

    color:#ffffff;

    font-size:15px;

}
.prices{
    padding:40px 80px 100px;
    background:#ffffff;
    text-align:center;
}

.prices h2{
    font-size:40px;
    margin-bottom:60px;
    color:#895d5d;
}

.price-box{
    max-width:900px;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.price-item{
    background:#eae5e4;
    padding:25px 35px;
    border-radius:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.price-item span{
    font-size:24px;
    color:#666;
}

.price-item strong{
    font-size:24px;
    color:#895d5d;
    
}
.whatsapp-btn{
    position:fixed;
    right:30px;
    bottom:30px;
    background:#9A7B4F;
    color:white;
    text-decoration:none;
    padding:18px 28px;
    border-radius:50px;
    font-size:18px;
    font-family:Playfair Display;
    box-shadow:0 15px 40px rgba(0,0,0,.25);
    z-index:999;
    transition:.3s;
}

.whatsapp-btn:hover{
    transform:translateY(-5px);
    box-shadow:0 20px 40px rgba(0,0,0,.35);
}
section{
    scroll-margin-top:100px;
}

.reveal{
    opacity:0;
    transform:translateY(60px);
    transition:0.8s ease;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}

@media (max-width:768px){

    html,
    body{
        overflow-x:hidden;
    }

    header{
    flex-direction:column;
    gap:15px;
    padding:18px 20px;
    position:fixed;
}

    nav{
        gap:22px;
        flex-wrap:wrap;
        justify-content:center;
    }

    nav a{
        font-size:18px;
        
    }

    .header-button button{
        padding:12px 30px;
        font-size:16px;
    }

    .hero{
        min-height:100vh;
        background-position:65% center;
        align-items:center;
    }
    .hero-btn{
    padding:18px 42px;
    font-size:18px;
}

    .content{
        width:100%;
        margin-left:0;
        padding:25px;
    }

    .hero h1{
        font-size:68px;
        line-height:0.95;
        margin-bottom:20px;
    }

    .content p{
        font-size:22px;
        margin-bottom:35px;
    }

    button{
        padding:18px 38px;
        font-size:18px;
    }

    .services,
    .advantages,
    .masters,
    .gallery,
    .reviews,
    .contacts{
        padding:70px 25px;
        margin-bottom:0;
    }

    .services h2,
    .advantages h2,
    .masters h2,
    .gallery h2,
    .reviews h2,
    .contacts h2{
        font-size:42px;
        line-height:1.15;
        margin-bottom:45px;
    }

    .cards,
    .advantages-cards,
    .masters-cards,
    .reviews-cards,
    .contacts-box{
        flex-direction:column;
        align-items:center;
        gap:30px;
        overflow-x:visible;
        scroll-snap-type:none;
    }

    .card,
    .advantage,
    .master,
    .review,
    .contact-item{
        width:100%;
        max-width:430px;
        min-width:0;
        flex:none;
        scroll-snap-align:none;
    }

    .card{
        padding:28px;
    }

    .card img{
        height:260px;
    }

    .card h3{
        font-size:30px;
        line-height:1.2;
    }

    .card p{
        font-size:20px;
        line-height:1.5;
    }

    .about{
        flex-direction:column;
        padding:70px 25px;
        gap:40px;
    }

    .about-image{
        width:100%;
    }

    .about-image img{
        height:350px;
    }

    .about-content{
        width:100%;
        text-align:center;
    }

    .about-content h2{
        font-size:42px;
        line-height:1.2;
    }

    .about-content p{
        font-size:20px;
        line-height:1.7;
    }

    .about-content li{
        font-size:20px;
    }

    .advantage h3{
        font-size:45px;
    }

    .advantage h4{
        font-size:26px;
    }

    .advantage p{
        font-size:18px;
        line-height:1.5;
    }

    .master img{
        height:380px;
    }

    .master h3{
        font-size:30px;
    }

    .master p{
        font-size:20px;
    }

    .gallery-grid{
        grid-template-columns:1fr;
        gap:25px;
    }

    .gallery-grid img{
        height:330px;
    }

    .review{
        padding:35px;
    }

    .review h3{
        font-size:26px;
    }

    .review p{
        font-size:20px;
        line-height:1.6;
    }

    .contact-item{
        padding:35px;
    }

    .contact-item h3{
        font-size:28px;
    }

    .contact-item p{
        font-size:20px;
    }

    footer nav,
    .social{
        flex-direction:column;
        gap:15px;
        color:#555
    }
    .prices{
    padding:70px 25px;
}

.prices h2{
    font-size:42px;
    margin-bottom:45px;
}

.price-item{
    flex-direction:column;
    gap:12px;
    text-align:center;
    padding:28px;
}

.price-item span,
.price-item strong{
    font-size:22px;
}
.whatsapp-btn{
    right:20px;
    bottom:20px;
    padding:15px 22px;
    font-size:16px;
}
section{
    scroll-margin-top:130px;
}
.reveal{
    opacity:0;
    transform:translateY(60px);
    transition:0.8s ease;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}

}

footer nav a{
    color:white !important;
    text-shadow:none;
}

footer nav a:hover{
    color:#EAE5E4 !important;
}